*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #412234;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img
{
    padding-top: 20px;
}
h2
{
    padding-top: 40px;
    padding-left: 200px;
    font-size: 26px;
}
h4
{
    padding-top: 40px;
    padding-left: 200px;
    font-size: 20px;
    text-align: left;
}
h5
{
    padding-top: 40px;
    padding-left: 200px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.izquierda
{
    padding-left: 200px;
    background-color: #412234;
    height:400px;
    width: 15%;
    float: left;
    margin: 20px;
}
.centro
{
    float: left;
    background-color: #412234;
    padding-left: 50px;
    height:400px;
    width:15%;
    margin: 20px;
}
.derecha
{
    float: left;
    padding-left: 50px;
    background-color: #412234;
    height:400px;
    width:15%;
    margin: 20px;
}
p
{
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: center;
}
a
{
    width:300px;
    height: 50px;
    display: block;
    padding-top: 10px;
    color: #ffef8e;
}
.encabezado
{
   height: 100px;
   width: 90%;
   padding: 20px;
   margin: 0px;
   border-radius: 0px;
   border: 0px;
   background-color: #412234;
   color: white;
   padding-top: 40px;
}
.piePagina
{
    height: 800px;
    width: 80%;
    padding: 20px;
    margin: 0px;
    border-radius: 0px;
    border: 0px;
    background-color: #412234;
    color: white;
    padding-left: 40px;
    padding-top:420px;
}
